title.cvwrite-container{
    width: 1280px;
    min-height: 800px;
    height: 100%;
    margin: auto;
    color:#010202;
    background-color: white;
    border-radius: 3px;
    padding: 30px;
}
.cvwrite-title{
    font-size: 48px;
    text-align: left;
}
.cvwrite-tipicon{
    width: 20px;
}
.cvwirte-div-upload{
    width: 1100px;
    border: 2px solid #CDCDCD;
    margin: 30px auto ;
    display: flex;
            align-items: center;
            justify-content: space-between;
}
.cvwirte-upload-con {
    width: 80%;
    /* border: 2px solid #EDEFF1; */
    /* background-color: #EDEFF1; */
    border-radius: 15px;
    /* height: 120px; */
    /* margin: 20px 10px; */
    flex: 1;
    /* padding: 10px 20px; */
    text-align: left;
}
.form-container{
    /* background: #9a9a9a1f; */
    margin-top: 1%;
    border-radius: 8px;
    padding: 3% 3%;
}

/*   .application-btn{
    margin-left: 60%;
    padding: 12px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    font-size: 1.1rem;
    background-color:  #102669;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .application-btn:hover{
    background-color: #ffffff;
    color: #102669;
  } */
.cv-notice{
    display: flex;
    flex-direction: row;
}
.cvwrite-input-file-button {
    width: 135px;
    padding: 12px 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    font-size: 1.1rem;
    background-color:  #102669;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.cvwrite-input-file-button:hover{
    width: 135px;
    padding: 12px 40px;
    margin-bottom: 20px;
    /* border: 3px solid #11045e; */
    background-color: #fff;
    color: #11045e;
    

}

.cvwrite-input-file-button-img {
    width: 130px;
    padding: 12px 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    font-size: 1.1rem;
    background-color:  #1241A4;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.cvwrite-cv-table{
    
    width:100%;
    height: 55px;
    border: 3px solid #CDCDCD;
    margin: auto;
}
.cvwrite-cv-td1{
    width:20%;
    background-color: #EDEFF1;
    font-size: 18px;
    font-weight: bold;
}
.cvwrite-cv1-title{
    align-items: left;
    width: 150px;
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 30px;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20px;
}


.cvwrite-cv1-table{
    width:100%;
    height: 270px;
    border: 3px solid #CDCDCD;
    margin: auto;
    
}
.cvwrite-cv1-td1{
    width:210px;
    border: 2px solid #CDCDCD;
}
.cvwrite-cv1-tr{
    border-top: 2px solid #CDCDCD;
    border-bottom: 2px solid #CDCDCD;
}
.cvwrite-cv1-td2{
    background-color: #EDEFF1;
    width:150px;
}
.cvwrite-cv1-td4{
    background-color: #EDEFF1;
    width:150px;
}
.cvwrite-cv1-input{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
}
.cvwrite-cv-input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

.cvwrite-cv-input-half-top{
    width: 100%;
    height: 30%;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    padding-top: 5px;
}

.cvwrite-cv-input-half-bottom{
    width: 100%;
    height: 30%;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 5px;
}



.cvwrite-cv-title{
    display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            

}
.cvwrite-delbtn{
    background-color: #fc2f2f;
    color: white;
    border: none;
    border-radius: 3px;
    width: 60px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}

.cvwrite-delbtn:hover{
    background-color: #d22f2f;
}
.cvwrite-add-button {
    padding: 10px 20px;
    background-color: #1241A4;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    /* margin-right: 20px; */
    margin-top: 24px;
    transition: background-color 0.5s, color 0.5s;
}
.cvwrite-add-button:hover {
background-color: #11045e;
}
.cvwrite-add-button-img {
    padding: 10px 20px;
    background-color: #1241A4;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}
.cvwrite-cv2-title{
    align-items: left;
    text-align: left;
    margin-left: 60px;
    font-size: 1.2em;
    width: 150px;
    margin-top: 34px;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 20px;
}
.cvwrite-cv2-table{
    width: 100%;
    border: 3px solid #CDCDCD;
    margin: 10px auto ;
    
}
.cvwrite-cv2 th{
    background-color: #EDEFF1;
    height: 48px;
}

.cvwrite-cv2-tr{
    border-top: 2px solid #CDCDCD;
    border-bottom: 2px solid #CDCDCD;
}
.cvwrite-cv2 td{
    height: 64px;
    border-top: 2px solid #CDCDCD;
    border-bottom: 2px solid #CDCDCD;
}
.cvwrite-cv2-td1{
    width: 20%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv2-td2{
    width: 20%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv2-td3{
    width: 25%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv2-td4{
    width: 18%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv2-td5{
    width: 10%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv2-td6{
    width: 7%;
}

.cvwrite-cv3-title{
    align-items: left;
    
    width: 150px;
    margin-top: 34px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 60px;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20px;
}
.cvwrite-cv3-table{
    width: 100%;
    border: 3px solid #CDCDCD;
    margin: 10px auto ;
    
}
.cvwrite-cv3 th{
    background-color: #EDEFF1;
    height: 48px;
}

.cvwrite-cv3-tr{
    border-top: 2px solid #CDCDCD;
    border-bottom: 2px solid #CDCDCD;
}
.cvwrite-cv3 td{
    height: 64px;
    border-top: 2px solid #CDCDCD;
    border-bottom: 2px solid #CDCDCD;
}
.cvwrite-cv3-td1{
    width: 20%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv3-td2{
    width: 20%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv3-td3{
    width: 15%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv3-td4{
    width: 28%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv3-td5{
    width: 10%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv3-td6{
    width: 7%;

}

.cvwrite-cv4-title{
    align-items: left;
    width: 200px;
    margin-top: 34px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 60px;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20px;
}
.cvwrite-cv4-table{
    width: 100%;
    border: 3px solid #CDCDCD;
    margin: 10px auto ;
    
}
.cvwrite-cv4 th{
    background-color: #EDEFF1;
    height: 48px;
}

.cvwrite-cv4-tr{
    border-top: 2px solid #CDCDCD;
    border-bottom: 2px solid #CDCDCD;
}
.cvwrite-cv4 td{
    min-height: 40px;
    max-height: 400px;
    border-top: 2px solid #CDCDCD;
    border-bottom: 2px solid #CDCDCD;
}
.cvwrite-cv4-td1{
    width: 90px;
    height: 100%;
    border-right: 2px solid #EDEFF1;
}
.cvwrite-cv4-td2{
    width: 300px;

    border-right: 2px solid #EDEFF1;
}
.auto-resize {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    min-height: 380px;
    height: 100%;
    background-color: transparent;
    border: none;
}

.cvwrite-button-container {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.cvwrite-save, .cvwrite-remove {
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #08877D;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}
.cvwrite-remove:hover{
    background-color: #135f59;
}
.cvwrite-save {
    background-color: #1241A4;
    margin-right: 40px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}
.cvwrite-save:hover{
    background-color: #11045e;
}
.cvwrite-cv-input-half-top{
    width: 100%;
    height: 30%;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    padding-top: 5px;
}

.cvwrite-cv-input-half-bottom{
    width: 100%;
    height: 30%;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 5px;
}

.cv-container{
    width: 90%;
    min-height: 800px;
    /* height: 100%; */
    margin: auto;
    color:#010202;
    border-radius: 3px;
    /* padding: 1% 5%; */
}

.blockquote-CV{
    margin: 0%;
    display: block;
    background: #fff;
    padding: 20px 20px 10px 45px;
    position: relative;
    font-size: 0.35em;
    line-height: 1.5;
    color: #11045e;
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
    border-left-style: solid;
    border-left-width: 15px;
    /* border-right-style: solid; */
    border-right-width: 0px;
  }
  
.CVtitle{
    width: 100%;
    margin: auto;
    margin-bottom: 4.5%;
    text-align: left;
    color: #ffffff;
    font-size: 5em;

}

.cv-notice{
    background: #9a9a9a1f;
    padding: 18px 40px 3px 40px;
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 5px;
    border-radius: 8px;
}

.cv-subtitle{
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
}
.cv-listform {

    background: #9a9a9a1f;
    min-height: 200px;
    border-radius: 3px;
    padding: 25px 25px 25px 5% ;
    border-radius: 8px;   
    
}

.cv-listform-nolist {
    display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  border: 2px solid #CDCDCD; /* 제공된 스타일 적용 */
  min-height: 200px; /* 제공된 스타일 적용 */
  border-radius: 3px; /* 제공된 스타일 적용 */
  padding: 25px; /* 제공된 스타일 적용 */
  background-color: #fff; /* 배경색을 흰색으로 설정 */
    
}
.cv-nolist-img{
    margin-left: 80px;
    width: 100px; /* 이미지 크기를 조정 */
  height: auto;
  margin-right: 50px; /* 이미지와 텍스트 사이의 간격을 조정 */
}

.cv-nolist-text {
  font-size: 28px;
  color: #333;
  font-weight: bold;
}
.cv-list {
    display: flex;
    width: 1000px;
    /* align-items: center; */
}

.cv-cvtitle {
    width: 700px;
    height: 50px;
    /* border: 2px solid #113280; */
    border-radius: 5px;
    margin-right: 10px; /* 버튼과의 간격을 위한 여백 */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding:13px;
    text-align: left;
    line-height: 1.5;
    padding-left: 30px;
    font-size: 1.1em;
    font-weight: 550;
    color: #11045e;;
    transition: background-color 0.3s ease;
}
.cv-cvtitle:hover {
    line-height: 1.1;
    border: 3px solid #11045e;;
    
}

.cvbtn-area{
    width: 200px;
}


.cv-upbtn {
    padding: 10px 25px 10px;
    margin-right: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    background-color:  #102669;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    
}
.cv-upbtn:hover {
    background-color: #dfdcff;
    color: #102669;
    
}
.cv-delbtn {
    padding: 10px 25px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    background-color:  #cc0505;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.cv-delbtn:hover {
    background-color: #fcc4c4;
    
}
.cv-update-date{
    width: 100px;
}
.cv-tr1 > th {
    font-size: 1.4em;
    font-weight: 700;
}
.cv-tr1{
    height: 50px;
}
.cv-tr2{
    height: 60px;
}
.cv-dwrite{
    margin-top: 30px;
    float: right;
}
.cv-writebtn{
    width: 180px;
    padding: 10px 25px 10px;
    margin-right: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    background-color:  #102669;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
/* 호버 상태에서 배경색 변경 */
.cv-writebtn:hover {
    background-color: #dfdcff;
    color: #102669;
    
}